@use './../mixins' as *;

.btn {
  --btn-color: #FFFFFF;
  --btn-background: #000211;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background-color: var(--btn-background);
  border-radius: 3rem;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  color: var(--btn-color);
  pointer-events: all;

  i {
    font-size: var(--btn-icon-size);
    color: var(--btn-icon-color);

    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    background-color: var(--btn-icon-background);
    border-radius: var(--btn-icon-radius);
  }

  &--accent {
    --btn-color: #000211;
    --btn-background: #A1BB8C;
  }

  &--accent-2 {
    --btn-color: #FFFFFF;
    --btn-background: #F64545;
  }

  &--black-2 {
    --btn-background: var(--base-bg);

    border: 0.1rem solid var(--black-2);
  }

  &--white {
    --btn-color: #000211;
    --btn-background: #FFFFFF;
  }

  &--gray {
    --btn-color: #FFFFFF;
    --btn-background: #FFFFFF1A;
  }

  &--icon {
    --btn-icon-size: 2.4rem;
    --btn-icon-color: var(--white);

    gap: 0.8rem;
  }

  &--arrow {
    --btn-icon-size: 2.4rem;
    --btn-icon-color: #d71920;
    --btn-icon-background: #1A1A1A;
    --btn-icon-radius: 50%;

    justify-content: space-between;
    padding: 1rem 1rem 1rem 1.5rem;
  }

  &--remove {
    --btn-color: var(--red);
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--count {
    min-width: 1.9rem;
    min-height: 1.9rem;
    padding: 0.4rem 0.3rem;
    border-radius: 50%;
    background-color: var(--red);

    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;
    color: var(--white);
    text-align: center;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__text {
    display: inline-flex;
    gap: 0.5rem;

    a {
      font-weight: 700;

      .login & {
        font-weight: 900;
        color: var(--red);
        text-decoration: underline;
      }
    }

    &--logout {
      display: block;

      .login & {
        display: none;
      }
    }

    &--login {
      display: none;

      .login & {
        display: block;
      }
    }
  }
}