@use './../mixins' as *;

.hero {
  margin-bottom: 0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: var(--base-bg);
  overflow: hidden;

  transition: top 0.5s ease;
  will-change: top;

  position: sticky;
  top: var(--header-height);
  z-index: 10;

  @include domd {
    display: none;
  }

  .header-out:not(.popup-open) & {
    top: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include domd {
      overflow: hidden;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;

    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    padding: 0 var(--container-padding);
    margin-left: calc(var(--container-padding) * -1);
    width: 100vw;
    width: calc(100% + (var(--container-padding) * 2));

    @include domd {
      gap: 2rem;
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }
}