@use './../mixins' as *;

.branch {

  .layout {

    &__inner {
      gap: 3rem;
    }

    &__block {

      &-title {
        color: var(--branch-layout-block-title-color);
      }

      &-text {

        span {
          color: var(--branch-layout-block-text-span-color);
        }
      }
    }
  }
}

#branchSelect {

  .layout {

    &__inner {
      padding-bottom: 8rem;
    }

    &__body {
      gap: 3rem;
    }

    &__content {
      gap: 1rem;

      .layout__block-title {
        font-weight: 700;
        font-size: 2rem;
        color: var(--layout-content-block-title-color);
      }

      .layout__block-text {

        * {
          font-weight: 700;
          color: var(--layout-content-block-text-color);
        }
      }
    }

    &__block {

      &-title {}

      &-text {

        * {
          font-weight: 500;
          font-size: 1.4rem;
        }
      }

      &-btns {

        .btn {
          --btn-background: var(--branchselect-layout-block-btn-bg-color);
          --btn-color: var(--branchselect-layout-block-btn-color);

          &:first-child {
            --btn-color: var(--branchselect-layout-block-second-btn-color);
          }
        }
      }
    }
  }
}

#branch {

  .layout {

    &__block {

      &-title {
        font-weight: 700;
        font-size: 1.8rem;
      }

      &-text {
        gap: 0.5rem;
      }
    }
  }
}