@use './../mixins' as *;

.client-service {
  display: flex;
  align-items: flex-end;

  .layout {

    &__inner {
      gap: 2rem;
    }
  }

  .menu__item-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 100%;
  }
}