@use './../mixins' as *;

.contacts {
  
  .layout {

    &__inner {
      gap: 3rem;
    }

    &__body {
      gap: 3rem;

      &.checked {

        .layout__block {
          display: none;
        }
      }
    }

    &__block {
      gap: 2rem;

      font-weight: 700;
      font-size: 1.4rem;
      line-height: 150%;

      &-wrap {
        gap: 0.5rem;
      }

      &-title {
        color: var(--contacts-layout-block-title-color);
      }

      &-address {
        font-weight: 700;
        text-transform: uppercase;
      }

      &-text {
        color: var(--contacts-layout-block-text-color);
      }

      &-link {
        margin: 0;

        color: var(--contacts-layout-block-link-color);
        text-decoration: none;
      }

      &-mode {
        font-weight: 400;
        font-size: 1.2rem;
        color: var(--contacts-layout-block-mode-color);
      }
    }
  }

  .dropdown {

    &__selected,
    &__content {
      border-radius: 1.2rem;
    }
  }
}