@use './../mixins' as *;

.dish {
  --dish-head-progress: 0;
  --dish-head-height-from: 24.8rem;
  --dish-head-height-to: 10rem;
  --dish-head-height-diff: 14.8rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .layout {

    &__inner {

      &--sticky {

        &.is-change {

          .layout__head::before {
            opacity: 1;
          }
        }

        &.is-change-moment {

          .layout__head-tags {
            opacity: 0;
          }
        }

        .layout__head {
          position: sticky;
          top: 0;
          right: 0;
          left: 0;
          z-index: 2;

          pointer-events: none;

          // transform: scale(var(--dish-head-progress));
          transform-origin: top center;
          will-change: transform;

          &::before {
            content: "";
            width: calc(100% + (var(--container-padding) * 2));
            height: var(--container-padding);
            background: linear-gradient(to top, transparent 0rem, var(--layout-head-psevdoelement) var(--container-padding));
            pointer-events: none;
            opacity: 0;

            position: absolute;
            top: calc(var(--height) - 1.5rem);
            left: calc(var(--container-padding) * -1);
            z-index: 2;
          }

          &::after {
            content: "";
            display: block;
            width: calc(100% + (var(--container-padding) * 2));
            height: var(--height);
            background-color: var(--layout-head-psevdoelement);
            pointer-events: none;

            position: absolute;
            inset: calc(var(--container-padding) * -1);
          }

          &-slider {
            pointer-events: all;
          }
        }
      }
    }

    &__head {

      &-slider {
        transform: scale(var(--dish-head-progress));
        transform-origin: top center;
        will-change: transform;
      }

      &-tags {
        transform: scale(var(--dish-head-progress));
        transform-origin: top left;
        will-change: transform, top;
        transition: opacity 0.4s ease;

        top: calc(1rem * var(--dish-head-progress));
      }

      &-cover {
        width: calc(100% + (var(--container-padding) * 2));
        height: 26.8rem;
        margin-left: calc(var(--container-padding) * -1);
      }
    }

    &__body {
      gap: 2rem;
    }

    &__block {
      // gap: 2rem;

      &-title {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        font-weight: 700;
        font-size: 1.6rem;
        line-height: 100%;

        p {
          font-size: 1rem;
          color: var(--layout-block-desc-color);
        }
      }

      &-wrap {
        gap: 0.8rem;

        &--2 {
          gap: 1.5rem;
        }
      }
    }

    &__banner {

      &-link {

        i {
          background-color: var(--dish-layout-banner-link-i-bg-color);
          color: var(--dish-layout-banner-link-i-color);
        }
      }
    }
  }

  .btn {
    font-weight: 700;
  }
}