.filter {

  .layout {

    &__inner {
      padding-bottom: 14rem;
    }

    &__foot {
      height: calc(var(--panel-height) + 15rem);

      &::before {
        display: none;
      }

      &-inner {
        border-radius: 0;
        flex-direction: column;
      }
    }
  }

  .btn--remove {
    font-weight: 700;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    gap: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    cursor: pointer;

    input {
      display: none;

      &:checked {

        &+.filter__check::before {
          opacity: 1;
        }

        &+.filter__check+.filter__item-text {
          color: var(--filter-item-text-checked-color);
        }
      }
    }

    &-text {
      font-weight: 500;
      font-size: 1.4rem;
      color: var(--filter-item-text-color);
      transition: color 0.4s ease;
    }
  }

  &__check {
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    background: var(--filter-check-bg-color);
    border-radius: 0.4rem;
    flex-shrink: 0;
    position: relative;

    &::before {
      content: "";
      background: var(--filter-check-before-color);
      border-radius: 0.2rem;
      width: 1.4rem;
      height: 1.4rem;
      opacity: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      transition: opacity 0.4s ease;
    }
  }
}