@use './../mixins' as *;

.logo {
  width: fit-content;
  height: 3.1rem;

  img {
    max-width: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  svg {
    max-width: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;

    path {
      fill: var(--white);
    }
  }
}