.warning {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--accent);

  color: var(--white);
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    gap: calc(100vw/(800/20));
    padding: 2rem;
  }

  &__img {
    width: fit-content;
    height: 11.2rem;
    height: calc(100vw/(800/112));

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    max-width: 35rem;
    max-width: calc(100vw/(800/350));

    font-size: 1.4rem;
    font-size: calc(100vw/(800/14));
    line-height: 1.2;
  }
}

@media screen and (orientation: landscape) {
  #orientation-warning {
    display: flex;
  }
}

.orientation--show {

  body {
    overflow: hidden !important;
    overscroll-behavior-y: none;
    max-height: 100vh;
  }
}