@use './../mixins' as *;

.platform {

  .popup {

    &__area {
      --popup-area-before-color: var(--white-50);

      transition: background-color 0.3s ease;

      &::before {
        transition: background-color 0.3s ease;
      }

      [dark] & {
        --popup-area-before-color: var(--black-20);
      }

      z-index: 2;

      &.popup__area--active {
        --popup-area-before-color: var(--black-20);

        background-color: var(--base);
      }
    }

    &__inner {
      margin-top: -3.6rem;

      z-index: 1;
    }
  }

  .layout {

    &__inner {
      gap: 2rem;
    }

    &__head {

      &-cover {
        // width: 100%;
        height: auto;

        width: calc(100% + var(--container-padding) * 2);
        margin-left: calc(var(--container-padding) * -1);
        border-radius: 0;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &__block {
      gap: 2rem;

      &-wrap {

        p {
          font-size: 1.2rem;
        }
      }

      &-text {
        max-width: 100%;

        color: var(--layout-platform-block-text-color);

        &--accent {
          color: var(--layout-platform-block-text-accent-color);

          * {
            font-weight: 700;
          }
        }

        &--italic {
          font-style: italic;
        }

        &--contacts {

          & p:nth-child(1) {

            a {
              font-weight: 700;
            }
          }

          a {
            width: fit-content;
            margin-left: 0;

            font-weight: 400;
            font-size: 1.2rem;
            text-decoration: underline;

            color: var(--layout-platform-block-text-a-color);

            &:hover {
              color: var(--layout-platform-block-text-accent-color);
            }
          }
        }

        p {

          a {
            margin-left: 0;

            font-weight: 400;
            font-size: 1.2rem;
            text-decoration: none;
            // font-weight: 700;
            color: var(--layout-platform-block-text-a-color);

            &:hover {
              color: var(--layout-platform-block-text-accent-color);
            }
          }
        }
      }

      &-social {
        margin-top: 0;
        gap: 1rem;

        a {
          margin-left: 0;
          text-decoration: none;
        }

        a:last-child {

          i {
            font-size: 3rem;
          }
        }
      }
    }

    &__list {

      li {
        margin-bottom: 0;
      }
    }
  }
}

.presentation-block {
  max-width: 100%;
  width: 100%;
}

.pdf-vertical-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.pdf-page-canvas {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}