@use './../mixins' as *;

.search {

  .form-input {
    --form-input-bg-color: #ffffff;

    border-radius: 1rem;
    padding-left: 4.8rem;

    &.filled {
      --form-input-active-border-color: #F64545;
      --form-input-color: #F64545;

      &+.form-label {
        opacity: 0;

        &+.form-input-btn {
          --search-layout-search-icon-color: #F64545;
        }
      }
    }

    &+.form-label {
      justify-content: center;
      width: fit-content;
      height: 5rem;

      position: absolute;
      top: 0;
      left: 4.8rem;
    }
  }

  .form-input-btn {
    color: var(--search-layout-search-icon-color);

    right: unset;
    left: 1.3rem;
  }

  .layout__search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.9rem;
    height: 1.9rem;

    right: 1.1rem;

    i {
      --font-size: 2.4rem;
    }
  }
}