@font-face {
  font-family: 'FoodbookIconFont';
  src:  url('fonts/FoodbookIconFont.eot?ld7ied');
  src:  url('fonts/FoodbookIconFont.eot?ld7ied#iefix') format('embedded-opentype'),
    url('fonts/FoodbookIconFont.ttf?ld7ied') format('truetype'),
    url('fonts/FoodbookIconFont.woff?ld7ied') format('woff'),
    url('fonts/FoodbookIconFont.svg?ld7ied#FoodbookIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FoodbookIconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bron:before {
  content: "\e900";
}
.icon-theme:before {
  content: "\e901";
}
.icon-null:before {
  content: "\e902";
}
.icon-callback:before {
  content: "\e903";
}
.icon-callback-min:before {
  content: "\e904";
}
.icon-max:before {
  content: "\e905";
}
.icon-max-min:before {
  content: "\e906";
}
.icon-menu-platform:before {
  content: "\e907";
}
.icon-notification:before {
  content: "\e908";
}
.icon-orientation:before {
  content: "\e909";
}
.icon-reviews:before {
  content: "\e90a";
}
.icon-sale:before {
  content: "\e90b";
}
.icon-tg:before {
  content: "\e90c";
}
.icon-tg-min:before {
  content: "\e90d";
}
.icon-vk-min:before {
  content: "\e90e";
}
.icon-vk:before {
  content: "\e90f";
}
.icon-wa:before {
  content: "\e910";
}
.icon-wa-min:before {
  content: "\e911";
}
.icon-foodbook:before {
  content: "\e912";
}
.icon-menu-telephone:before {
  content: "\e913";
}
.icon-menu-call:before {
  content: "\e914";
}
.icon-call:before {
  content: "\e915";
}
.icon-chef:before {
  content: "\e916";
}
.icon-vega:before {
  content: "\e917";
}
.icon-hot:before {
  content: "\e918";
}
.icon-top:before {
  content: "\e919";
}
.icon-napitki:before {
  content: "\e91a";
}
.icon-deserty:before {
  content: "\e91b";
}
.icon-zakuski:before {
  content: "\e91c";
}
.icon-rolls:before {
  content: "\e91d";
}
.icon-salads:before {
  content: "\e91e";
}
.icon-business-lunch:before {
  content: "\e91f";
}
.icon-agreement:before {
  content: "\e920";
}
.icon-privacy:before {
  content: "\e921";
}
.icon-client-services:before {
  content: "\e922";
}
.icon-history:before {
  content: "\e923";
}
.icon-time:before {
  content: "\e924";
}
.icon-kuvshin:before {
  content: "\e925";
}
.icon-cup:before {
  content: "\e926";
}
.icon-stars:before {
  content: "\e927";
}
.icon-search:before {
  content: "\e928";
}
.icon-zavtrak:before {
  content: "\e929";
}
.icon-bar:before {
  content: "\e92a";
}
.icon-grill:before {
  content: "\e92b";
}
.icon-goryachee:before {
  content: "\e92c";
}
.icon-menu-catering:before {
  content: "\e92d";
}
.icon-add:before {
  content: "\e92e";
}
.icon-share-2:before {
  content: "\e92f";
}
.icon-butylka:before {
  content: "\e930";
}
.icon-bokal:before {
  content: "\e931";
}
.icon-language:before {
  content: "\e932";
}
.icon-home:before {
  content: "\e933";
}
.icon-menu-slang:before {
  content: "\e934";
}
.icon-menu-reviews:before {
  content: "\e935";
}
.icon-trash:before {
  content: "\e936";
}
.icon-menu-rassadka:before {
  content: "\e937";
}
.icon-qr:before {
  content: "\e938";
}
.icon-points:before {
  content: "\e939";
}
.icon-menu-meatballs:before {
  content: "\e93a";
}
.icon-clock:before {
  content: "\e93b";
}
.icon-menu-personal-offers:before {
  content: "\e93c";
}
.icon-star:before {
  content: "\e93d";
}
.icon-menu-user:before {
  content: "\e93e";
}
.icon-menu-like:before {
  content: "\e93f";
}
.icon-menu-geo:before {
  content: "\e940";
}
.icon-menu-card:before {
  content: "\e941";
}
.icon-close:before {
  content: "\e942";
}
.icon-user:before {
  content: "\e943";
}
.icon-question-mark:before {
  content: "\e944";
}
.icon-menu-contacts:before {
  content: "\e945";
}
.icon-menu-loyalty-system:before {
  content: "\e946";
}
.icon-menu-list:before {
  content: "\e947";
}
.icon-menu-microphone:before {
  content: "\e948";
}
.icon-meatballs:before {
  content: "\e949";
}
.icon-login:before {
  content: "\e94a";
}
.icon-filter:before {
  content: "\e94b";
}
.icon-up:before {
  content: "\e94c";
}
.icon-carbohydrates:before {
  content: "\e94d";
}
.icon-protein:before {
  content: "\e94e";
}
.icon-calories:before {
  content: "\e94f";
}
.icon-fat:before {
  content: "\e950";
}
.icon-share:before {
  content: "\e951";
}
.icon-star-fill:before {
  content: "\e952";
}
.icon-like:before {
  content: "\e953";
}
.icon-chevron-right:before {
  content: "\e954";
}
