@use './../mixins' as *;

.swiper {

  &-pagination {
    width: fit-content !important;
    height: auto;
    padding: 0.4rem;
    border-radius: 3rem;
    background-color: var(--swiper-pagination-bg-color);

    line-height: 0;

    bottom: 1rem;
    right: unset;
    left: 50% !important;
    transform: translateX(-50%);

    &-bullet {
      width: 0.7rem;
      height: 0.7rem;
      margin: 0 0.2rem !important;
      background-color: var(--swiper-pagination-color) !important;

      &-active {
        background-color: var(--swiper-pagination-active-color) !important;
      }
    }
  }
}