@use './../mixins' as *;

:root {
  // fonts
  --font-family: Poppins, Arial, sans-serif;
  --second-family: SFPro, Arial, sans-serif;
  --third-family: TTTrailersTrial, Arial, sans-serif;
  --fourth-family: PlayfairDisplay, Arial, sans-serif;
  --fifth-family: Inter, Arial, sans-serif;
  --sixth-family: Lobster, Arial, sans-serif;

  // size
  --container-padding: 1.5rem;
  --container-width: 37.2rem;
  --header-height: 7.6rem;
  --wrapper-padding: 9.1rem;
  --popup-padding: 13.6rem;
  --panel-btn-height: 6.6rem;
  --panel-height: 8rem;
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);

  // base
  --base: #F4F4F4;
  --base-list-dot-color: var(--black);

  // popup
  --popup-wrap-bg: var(--white-90);
  --popup-area-before-color: var(--black-20);
  --psevdoelement-color: rgb(237, 237, 237);

  // colors
  --accent: #F64545;
  --accent-50: #F6454580;

  --accent-2: #A1BB8C;

  --white: #FFFFFF;
  --white-10: #ffffff1a;
  --white-15: #ffffff26;
  --white-50: #FFFFFF80;
  --white-90: #FFFFFFE5;

  --black: #000211;
  --black-05: #0002110d;
  --black-10: #0002111a;
  --black-20: #00021133;
  --black-45: #00021173;
  --black-50: #00021180;
  --black-60: #00021199;

  // tags color
  --tags-color: #FFFFFF;
  --tags-top: #25D366;
  --tags-hot: #D93128;
  --tags-vega: #2DC520;
  --tags-chef: #E95322;
  --tags-business: #37AEE2;

  // rating color
  --rating-bg-color: #FF9F5F;
  --rating-color: #ffffff;

  // menu
  --menu-item-icon-bg-color: var(--white);
  --menu-item-icon-color: var(--black);
  --menu-item-icon-color-login: var(--accent);
  --menu-item-title-bg-color: var(--white);
  --menu-item-title-color: var(--black);

  // swiper
  --swiper-pagination-bg-color: transparent;
  --swiper-pagination-color: var(--white-50);
  --swiper-pagination-active-color: var(--white);

  // scrollup
  --scrollup-btn-color: var(--white);

  // branch
  --branch-layout-block-title-color: var(--accent);
  --branch-layout-block-text-span-color: var(--black-50);

  // branchselect
  --branchselect-layout-block-btn-bg-color: var(--black-05);
  --branchselect-layout-block-btn-color: var(--black);
  --branchselect-layout-block-second-btn-color: var(--accent);

  // card
  --card-bg-color: var(--white);
  --card-border-color: var(--white);
  --card-weight-color: var(--accent);
  --card-item-color: var(--black-50);
  --card-item-i-color: var(--black-50);
  --card-item-i-bg-color: var(--white);
  --card-desc-color: var(--black-50);
  --card-price-color: var(--black);
  --card-price-bg-color: var(--black-10);
  --card-price-bg-color-hover: var(--accent);
  --card-like-color: var(--black);
  --card-like-bg-color: var(--black-10);
  --card-like-color-hover: var(--white);
  --card-like-bg-color-hover: var(--accent);

  // contacts
  --contacts-layout-block-title-color: var(--accent);
  --contacts-layout-block-text-color: var(--black);
  --contacts-layout-block-link-color: var(--black);
  --contacts-layout-block-mode-color: var(--accent);

  // dish
  --dish-layout-banner-link-i-bg-color: var(--white);
  --dish-layout-banner-link-i-color: var(--accent);

  // filter
  --filter-check-bg-color: var(--black-10);
  --filter-check-before-color: var(--accent);
  --filter-item-text-color: var(--black-50);
  --filter-item-text-checked-color: var(--black);

  // header
  --header-bg-color: var(--black);
  --header-search-i-color: var(--white);
  --header-points-bg-color: var(--black-10);
  --header-points-color: var(--white);
  --header-points-i-color: var(--accent);
  --header-lang-bg-color: var(--black-10);
  --header-lang-color: var(--white);

  // search
  --search-layout-search-icon-color: var(--black-50);

  // loyalty
  --loyalty-layout-block-text-span-color: var(--black-50);

  // nav
  --nav-item-bg-color: var(--white);
  --nav-item-color: var(--black);
  --nav-item-icon-color: var(--accent);
  --nav-item-active-bg-color: var(--accent);
  --nav-item-active-icon-color: var(--white);

  // offers
  --offers-layout-block-text-color: var(--black);

  // panel
  --panel-inner-bg-color: var(--white);
  --panel-inner-color: var(--black);
  --panel-btn-mid-color: var(--white);
  --panel-btn-count-bg-color: var(--black);
  --panel-btn-count-color: var(--white);

  // plate
  --plate-content-bg-color: var(--white);
  --plate-content-border-color: var(--white);
  --plate-content-btn-bg-color: var(--accent);
  --plate-content-btn-color: var(--white);

  // profile
  --profile-layout-head-title-color: var(--black);
  --profile-login-layout-head-title-color: var(--black-50);
  --profile-menu-item-title-color: var(--black);
  --profilecard-layout-body-text-color: var(--black-50);
  --profilecard-layout-body-link-color: var(--accent);

  // rassadka
  --rassadka-layout-block-title-color: var(--accent);
  --rassadka-layout-block-text-span-color: var(--black-50);

  // reviews
  --reviews-item-rating-icon-color: var(--rating-bg-color);
  --reviews-item-name-color: var(--accent);
  --reviews-item-date-color: var(--black);
  --reviews-item-text-color: var(--black);

  // welcome
  --welcome-bg-color: var(--accent);
  --welcome-text-color: var(--black);

  // preloader
  --preloader-bg-color: var(--accent);

  // dropdown
  // --dropdown-selected-active-border-color: var(--black-20);
  --dropdown-selected-active-border-color: var(--black);
  --dropdown-selected-active-bg-color: transparent;
  --dropdown-selected-border-color: var(--form-input-border-color);
  --dropdown-selected-bg-color: transparent;
  --dropdown-selected-i-bg-color: var(--black);
  --dropdown-selected-i-color: var(--white);
  --dropdown-selected-active-i-bg-color: var(--black-20);
  --dropdown-selected-active-i-color: var(--black);
  --dropdown-label-color: var(--black);
  --dropdown-label-active-color: var(--black);
  --dropdown-content-border-color: var(--accent);
  --dropdown-content-bg-color: var(--accent);
  --dropdown-content-label-color: var(--white);

  // form
  --form-input-border-color: var(--black-20);
  --form-input-bg-color: transparent;
  --form-input-color: var(--black);
  --form-input-ph-color: var(--black);
  --form-input-active-border-color: var(--black);
  --form-label-color: var(--black);
  --form-label-span-color: var(--black);
  --form-file-bg-color: var(--black-10);
  --form-rating-color: var(--accent);
  --form-code-border-color: var(--black-20);
  --form-code-bg-color: transparent;
  --form-code-color: var(--black);
  --form-code-ph-color: var(--black);
  --form-text-color: var(--black);
  --form-checkbox-border-color: var(--black);
  --form-checkbox-before-bg-color: transparent;
  --form-checkbox-after-bg-color: transparent;
  --form-checkbox-checked-after-bg-color: var(--accent);
  --form-radio-icon-bg-color: var(--white);
  --form-radio-icon-color: var(--accent);
  --form-radio-title-bg-color: var(--white);
  --form-radio-remove-color: var(--black);
  --form-radio-input-border-color: var(--black);
  --form-radio-input-before-bg-color: transparent;
  --form-radio-input-checked-before-bg-color: var(--accent);
  --form-results-color: var(--black);
  --form-input-btn-color: var(--black-50);
  --form-input-active-btn-color: var(--accent);
  --form-tabs-label-bg-color: var(--black-10);
  --form-tabs-label-color: var(--black);
  --form-tabs-label-checked-bg-color: var(--accent);
  --form-tabs-label-checked-color: var(--white);

  // layout
  --layout-title-color: var(--accent);
  --layout-counts-bg-color: var(--black);
  --layout-counts-color: var(--white);
  --layout-share-bg-color: var(--white-10);
  --layout-share-color: var(--black);
  --layout-content-weight-color: var(--black-50);
  --layout-content-weight-btn-bg-color: var(--white-10);
  --layout-content-weight-btn-color: var(--black);
  --layout-content-time-bg-color: var(--black-10);
  --layout-content-time-i-color: var(--accent);
  --layout-content-block-title-color: var(--black);
  --layout-content-block-text-color: var(--black);
  --layout-block-desc-color: var(--black);
  --layout-block-list-color: var(--black);
  --layout-block-time-bg-color: var(--black-10);
  --layout-block-time-color: var(--accent);
  --layout-block-time-span-color: var(--accent);
  --layout-block-text-a-color: var(--accent);
  --layout-block-item-bg-color: var(--black-10);
  --layout-block-item-border-color: var(--black-10);
  --layout-block-item-active-border-color: var(--accent);
  --layout-block-item-status-color: var(--black);
  --layout-block-item-i-bg-color: var(--white-10);
  --layout-block-item-i-color: var(--black);
  --layout-block-item-icon-i-color: var(--white);
  --layout-block-value-bg-color: var(--black-10);
  --layout-block-value-i-color: var(--accent);
  --layout-block-value-color: var(--black);
  --layout-block-address-color: var(--black);
  --layout-block-address-link-color: var(--black);
  --layout-block-ps-color: var(--accent);
  --layout-block-social-bg-color: var(--black);
  --layout-block-social-color: var(--accent);
  --layout-time-bg-color: var(--white);
  --layout-time-border-color: var(--white);
  --layout-time-i-color: var(--accent);
  --layout-head-tag: var(--white);
  --layout-head-psevdoelement: var(--psevdoelement-color);
  --layout-head-change-color: var(--accent);
  --layout-card-block-bg-color: var(--accent);
  --layout-card-guess-bg-color: var(--black);
  --layout-card-guess-color: var(--white);
  --layout-card-content-color: var(--white);
  --layout-head-content-link-color: var(--black-50);
  --layout-foot-inner-bg-color: var(--base);
  --layout-nav-item-bg-color: var(--black-10);
  --layout-nav-item-color: var(--black);
  --layout-nav-item-active-bg-color: var(--accent);
  --layout-nav-item-active-color: var(--white);
  --layout-cashback-bg-color: var(--white);
  --layout-cashback-text-color: var(--accent);
  --layout-cashback-progress-bg-color: var(--accent-50);
  --layout-cashback-progress-value-bg-color: var(--accent);
  --layout-cashback-i-color: var(--white);
  --layout-banner-link-i-bg-color: var(--accent);
  --layout-banner-link-i-color: var(--white);
  --layout-banner-link-hover-i-bg-color: var(--white);
  --layout-banner-link-hover-i-color: var(--accent);
  --layout-price-icon-bg-color: var(--black-10);
  --layout-price-icon-color: var(--accent);
  --layout-type-icon-bg-color: var(--white-15);
  --layout-type-icon-color: var(--accent);
  --layout-search-icon-color: var(--black-50);
  --layout-search-form-label-span-color: var(--black-50);
  --layout-search-form-input-bg-color: var(--white);
  --layout-stars-icon-color: var(--accent);
  --layout-notice-bg-color: var(--white);
  --layout-notice-border-color: var(--white-10);
  --layout-notice-text-color: var(--black);
  --layout-notice-text-link-color: var(--accent);
  --layout-history-item-border-color: var(--black-50);
  --layout-history-date-color: var(--black-50);
  --layout-history-title-color: var(--accent);
  --layout-history-body-color: var(--black);
  --layout-null-text-color: var(--black);
  --layout-null-link-color: var(--accent);
  --layout-first-btn-bg-color: var(--white);
  --layout-first-btn-text-color: var(--black);
  --layout-first-btn-i-bg-color: var(--white);
  --layout-first-btn-i-color: var(--accent);
  --layout-first-btn-text-span-color: var(--accent);
  --layout-platform-block-text-color: var(--black);
  --layout-platform-block-text-accent-color: var(--accent);
  --layout-platform-block-text-a-color: var(--black);

  // stories
  --stories-overlay-bg-color: var(--black-60);
  --stories-progress-item-bg-color: var(--white-50);
  --stories-progress-fill-bg-color: var(--white);
  --stories-share-color: var(--white);
  --stories-share-hover-color: var(--white-15);
  --stories-close-color: var(--white);
  --stories-close-hover-color: var(--white-15);
  --stories-date-bg-color: var(--black-45);
  --stories-date-color: var(--white);
  --stories-btn-bg-color: var(--accent);

  // afisha
  --afisha-item-border-color: var(--accent);
  --afisha-i-bg-color: var(--accent);
  --afisha-i-color: var(--white);
  --afisha-hover-i-bg-color: var(--white);
  --afisha-hover-i-color: var(--accent);

  // banners
  --banners-link-title-color: var(--black);
  --banners-link-title-span-color: var(--accent);

  @include domd {
    --container-padding: 40rem;
    --container-width: 112rem;
    --header-height: 11rem;
    --wrapper-padding: 13rem;
  }
}

// dark theme
[dark] {

  // base
  --base: #1A1A1A;
  --base-list-dot-color: var(--black);

  --psevdoelement-color: rgb(237, 237, 237);

  // colors
  --accent: #F64545;
  --accent-50: #F6454580;

  --accent-2: #A1BB8C;

  --black: #FFFFFF;
  --black-05: #FFFFFF0d;
  --black-10: #ffffff1a;
  --black-15: #ffffff26;
  --black-20: #ffffff33;
  --black-45: #ffffff73;
  --black-50: #FFFFFF80;
  --white-60: #FFFFFF99;
  --black-90: #FFFFFFE5;

  --white: #000211;
  --white-05: #0002110d;
  --white-10: #0002111a;
  --white-20: #00021133;
  --white-45: #00021173;
  --white-50: #00021123;
  --white-60: #00021199;

  // popup
  --popup-wrap-bg: rgba(26, 26, 26, 0.95);
  --popup-area-before-color: var(--black-50);

  // layout
  --layout-card-content-color: var(--black);
  --layout-nav-item-color: var(--black);
  --layout-nav-item-bg-color: var(--black-10);
  --layout-banner-link-i-color: var(--black);
  --layout-head-psevdoelement: rgb(26, 26, 26);
  --layout-search-form-input-bg-color: var(--black-10);
  --layout-first-btn-bg-color: var(--black-10);
  --layout-first-btn-i-bg-color: var(--black-10);

  // header
  --header-search-i-color: var(--white);

  // nav
  --nav-item-active-icon-color: var(--black);
  --nav-item-bg-color: var(--black-10);

  // scrollup
  --scrollup-btn-color: var(--black);

  // banners
  --banners-link-title-color: var(--white);

  // afisha
  --afisha-i-color: var(--black);

  // panel
  --panel-inner-bg-color: var(--black);
  --panel-btn-mid-color: var(--black);
  --panel-inner-color: var(--white);

  // card
  --card-like-color-hover: var(--black);
  --card-bg-color: var(--base);
  --card-border-color: var(--black-10);
  --card-item-i-bg-color: var(--base);

  // dish
  --dish-layout-banner-link-i-bg-color: var(--black);

  // stories
  --stories-overlay-bg-color: var(--white-60);
  --stories-progress-item-bg-color: var(--black-50);
  --stories-progress-fill-bg-color: var(--black);
  --stories-share-color: var(--black);
  --stories-share-hover-color: var(--black-15);
  --stories-close-color: var(--black);
  --stories-close-hover-color: var(--black-15);
  --stories-date-bg-color: var(--white-45);
  --stories-date-color: var(--black);
  --stories-btn-bg-color: var(--accent);

  // dropdown
  --dropdown-content-label-color: var(--black);
  --dropdown-selected-active-border-color: var(--black);

  // swiper
  --swiper-pagination-active-color: var(--black);
}

[red] {
  --accent: #F64545;
  --accent-50: #F6454580;

  --accent-2: #A1BB8C;

  --menu-item-icon-color: var(--white);
  --menu-item-icon-bg-color: var(--accent);
  --menu-item-icon-color-login: var(--white);

  &[dark] {
    --menu-item-icon-color-login: var(--black);
  }
}

[orange] {
  --accent: #E95322;
  --accent-50: #E9532280;

  --accent-2: #A1BB8C;

  --menu-item-icon-color: var(--white);
  --menu-item-icon-bg-color: var(--accent);
  --menu-item-icon-color-login: var(--white);

  &[dark] {
    --menu-item-icon-color-login: var(--black);
  }
}

[green] {
  --accent: #54A312;
  --accent-50: #54A31280;

  --accent-2: #A1BB8C;

  --menu-item-icon-color: var(--white);
  --menu-item-icon-bg-color: var(--accent);
  --menu-item-icon-color-login: var(--white);

  &[dark] {
    --menu-item-icon-color-login: var(--black);
  }
}