@use './../mixins' as *;

:root {
  // fonts
  --font-family: Poppins, Arial, sans-serif;
  --second-family: SFPro, Arial, sans-serif;
  --third-family: TTTrailersTrial, Arial, sans-serif;
  --fourth-family: PlayfairDisplay, Arial, sans-serif;
  --fifth-family: Inter, Arial, sans-serif;
  --sixth-family: Lobster, Arial, sans-serif;

  // size
  --container-padding: 1.5rem;
  --container-width: 37.2rem;
  --header-height: 7.6rem;
  --wrapper-padding: 9.1rem;
  --popup-padding: 13.6rem;
  --panel-btn-height: 6.6rem;
  --panel-height: 8rem;
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);

  // base
  --base-bg: #F4F4F4;
  --base-color: var(--black);
  --base-list-dot-color: var(--black);
  --gradient: linear-gradient(180deg, #0BF5DA 0%, #3D75FE 55.29%, #151754 100%);

  // global
  --tags-color: var(--white);
  --tags-top: #25D366;
  --tags-hot: #D93128;
  --tags-vega: #2DC520;
  --tags-chef: #E95322;
  --tags-business: #37AEE2;
  --rating-bg-color: #F75757;
  --rating-color: #F9FAF8;

  // colors
  --popup-bg: #1A1A1A;
  --accent: #F64545;
  --accent-50: #F6454580;
  --white: #FFFFFF;
  --white-50: rgba(255, 255, 255, 0.5);
  --black: #000211;
  --black-50: #00021180;
  --black-2: #313330;
  --red: #D93128;
  --blue: #151754;

  // menu
  --menu-item-icon-bg-color: var(--white);
  --menu-item-icon-color: var(--black);
  --menu-item-icon-color-login: var(--accent);
  --menu-item-title-bg-color: var(--white);
  --menu-item-title-color: var(--black);

  // swiper
  --swiper-pagination-bg-color: transparent;
  --swiper-pagination-color: rgba(255, 255, 255, 0.5);
  --swiper-pagination-active-color: var(--white);

  // branch
  --branch-layout-block-title-color: var(--accent);
  --branch-layout-block-text-span-color: var(--black-50);

  // branchselect
  --branchselect-layout-block-btn-bg-color: #0002110D;
  --branchselect-layout-block-btn-color: var(--black);
  --branchselect-layout-block-second-btn-color: var(--accent);

  // card
  --card-bg-color: var(--white);
  --card-border-color: var(--white);
  --card-weight-color: var(--accent);
  --card-item-color: var(--black-50);
  --card-item-i-color: var(--black-50);
  --card-item-i-bg-color: var(--white);
  --card-desc-color: #EEF0ED;
  --card-price-color: var(--black);
  --card-price-bg-color: #888A871A;
  --card-price-bg-color-hover: var(--accent);
  --card-like-color: var(--black);
  --card-like-bg-color: #888A871A;
  --card-like-color-hover: #ECF1E8;
  --card-like-bg-color-hover: var(--accent);

  // contacts
  --contacts-layout-block-title-color: var(--accent);
  --contacts-layout-block-text-color: var(--black);
  --contacts-layout-block-link-color: var(--black);
  --contacts-layout-block-mode-color: var(--accent);

  // dish
  --dish-layout-banner-link-i-bg-color: #FDF6EC;
  --dish-layout-banner-link-i-color: var(--accent);

  // filter
  --filter-check-bg-color: #2F2F2E1A;
  --filter-check-before-color: var(--accent);
  --filter-item-text-color: var(--black-50);
  --filter-item-text-checked-color: var(--black);

  // header
  --header-bg-color: var(--black);
  --header-search-i-color: #888A87;
  --header-points-bg-color: #0000001A;
  --header-points-color: var(--white);
  --header-points-i-color: var(--accent);
  --header-lang-bg-color: #0000001A;
  --header-lang-color: var(--white);

  // search
  --search-layout-search-icon-color: var(--black-50);

  // loyalty
  --loyalty-layout-block-text-span-color: var(--black-50);

  // nav
  --nav-item-bg-color: var(--white);
  --nav-item-color: var(--black);
  --nav-item-icon-color: var(--accent);
  --nav-item-active-bg-color: var(--accent);
  --nav-item-active-icon-color: var(--white);

  // offers
  --offers-layout-block-text-color: var(--black);

  // panel
  --panel-inner-bg-color: var(--white);
  --panel-inner-color: #363A33;
  --panel-btn-mid-color: #FFFFFF;
  --panel-btn-count-bg-color: var(--black-2);
  --panel-btn-count-color: var(--white);

  // plate
  --plate-content-border-color: #313330;
  --plate-content-btn-bg-color: var(--accent);
  --plate-content-btn-color: #EEF0ED;

  // popup
  --popup-bg-color: #FFFFFFE5;
  --popup-area-color: var(--black-50);
  --popup-area-close-color: #ffffffbe;

  // profile
  --profile-layout-head-title-color: var(--black);
  --profile-login-layout-head-title-color: var(--black-50);
  --profile-menu-item-title-color: var(--black);
  --profilecard-layout-body-text-color: #888A87;
  --profilecard-layout-body-link-color: var(--accent);

  // rassadka
  --rassadka-layout-block-title-color: var(--accent);
  --rassadka-layout-block-text-span-color: var(--black-50);

  // reviews
  --reviews-item-rating-icon-color: #FF9F5F;
  --reviews-item-name-color: var(--accent);
  --reviews-item-date-color: var(--black);
  --reviews-item-text-color: var(--black);

  // welcome
  --welcome-bg-color: var(--gradient);
  --welcome-text-color: #000000;

  // preloader
  --preloader-bg-color: var(--gradient);

  // dropdown
  --dropdown-selected-active-border-color: #00021133;
  --dropdown-selected-active-bg-color: transparent;
  --dropdown-selected-border-color: var(--form-input-border-color);
  --dropdown-selected-bg-color: transparent;
  --dropdown-selected-i-bg-color: var(--black);
  --dropdown-selected-i-color: var(--white);
  --dropdown-selected-active-i-bg-color: #00021133;
  --dropdown-selected-active-i-color: var(--black);
  --dropdown-label-color: var(--black);
  --dropdown-label-active-color: var(--black);
  --dropdown-content-border-color: var(--accent);
  --dropdown-content-bg-color: var(--accent);
  --dropdown-content-label-color: var(--white);

  // form
  --form-input-border-color: #00021133;
  --form-input-bg-color: transparent;
  --form-input-color: var(--black);
  --form-input-ph-color: var(--black);
  --form-input-active-border-color: var(--black);
  --form-label-color: var(--black);
  --form-label-span-color: var(--black);
  --form-file-bg-color: #2F2F2E1A;
  --form-rating-color: var(--accent);
  --form-code-border-color: #00021133;
  --form-code-bg-color: transparent;
  --form-code-color: var(--black);
  --form-code-ph-color: var(--black);
  --form-text-color: var(--black);
  --form-checkbox-border-color: var(--black);
  --form-checkbox-before-bg-color: transparent;
  --form-checkbox-after-bg-color: transparent;
  --form-checkbox-checked-after-bg-color: var(--accent);
  --form-radio-icon-bg-color: var(--white);
  --form-radio-icon-color: var(--accent);
  --form-radio-title-bg-color: var(--white);
  --form-radio-remove-color: var(--black);
  --form-radio-input-border-color: var(--black);
  --form-radio-input-before-bg-color: transparent;
  --form-radio-input-checked-before-bg-color: var(--accent);
  --form-results-color: var(--black);
  --form-input-btn-color: #888A87;
  --form-input-active-btn-color: var(--accent);
  --form-tabs-label-bg-color: #2F2F2E1A;
  --form-tabs-label-color: var(--black);
  --form-tabs-label-checked-bg-color: var(--accent);
  --form-tabs-label-checked-color: var(--white);

  // layout
  --layout-title-color: var(--accent);
  --layout-counts-bg-color: var(--black);
  --layout-counts-color: #F9FAF8;
  --layout-share-bg-color: #FFFFFF1A;
  --layout-share-color: var(--black);
  --layout-content-weight-color: var(--black-50);
  --layout-content-weight-btn-bg-color: #FFFFFF1A;
  --layout-content-weight-btn-color: var(--black);
  --layout-content-time-bg-color: #2F2F2E1A;
  --layout-content-time-i-color: var(--accent);
  --layout-content-block-title-color: var(--black);
  --layout-content-block-text-color: var(--black);
  --layout-block-desc-color: #0A2533;
  --layout-block-list-color: #0A2533;
  --layout-block-time-bg-color: #2F2F2E1A;
  --layout-block-time-color: var(--accent);
  --layout-block-time-span-color: var(--accent);
  --layout-block-text-a-color: var(--accent);
  --layout-block-item-bg-color: #2F2F2E1A;
  --layout-block-item-border-color: #2F2F2E1A;
  --layout-block-item-active-border-color: var(--accent);
  --layout-block-item-status-color: var(--black);
  --layout-block-item-i-bg-color: #FFFFFF1A;
  --layout-block-item-i-color: var(--black);
  --layout-block-item-icon-i-bg-color: #494747;
  --layout-block-item-icon-i-color: var(--white);
  --layout-block-value-bg-color: #2F2F2E1A;
  --layout-block-value-i-color: var(--accent);
  --layout-block-value-color: var(--black);
  --layout-block-address-color: var(--black);
  --layout-block-address-link-color: #EEF0ED;
  --layout-block-ps-color: var(--accent);
  --layout-block-social-bg-color: #2F2F2E;
  --layout-block-social-color: var(--accent);
  --layout-time-bg-color: transparent;
  --layout-time-border-color: #313330;
  --layout-time-i-color: var(--accent);
  --layout-head-tag: var(--white);
  --layout-head-psevdoelement: rgb(237, 237, 237);
  --layout-head-change-color: var(--accent);
  --layout-card-block-bg-color: linear-gradient(90deg, #0BF5DA 0%, #3D75FE 55.29%, #151754 100%);
  --layout-card-guess-bg-color: var(--black);
  --layout-card-guess-color: var(--white);
  --layout-head-content-link-color: var(--black-50);
  --layout-foot-inner-bg-color: #F4F4F4;
  --layout-nav-item-bg-color: #292929;
  --layout-nav-item-color: var(--white);
  --layout-nav-item-active-bg-color: var(--accent);
  --layout-cashback-bg-color: var(--white);
  --layout-cashback-text-color: var(--accent);
  --layout-cashback-progress-bg-color: var(--accent-50);
  --layout-cashback-progress-value-bg-color: var(--accent);
  --layout-cashback-i-color: #EEF0ED;
  --layout-cashback-i-bg-color: #323232;
  --layout-banner-link-i-bg-color: var(--accent);
  --layout-banner-link-i-color: #EEF0ED;
  --layout-banner-link-hover-i-bg-color: #EEF0ED;
  --layout-banner-link-hover-i-color: var(--accent);
  --layout-price-icon-bg-color: #2F2F2E1A;
  --layout-price-icon-color: var(--accent);
  --layout-type-icon-bg-color: #373737;
  --layout-type-icon-color: var(--accent);
  --layout-search-icon-color: var(--black-50);
  --layout-search-form-label-span-color: #00021180;
  --layout-search-form-input-bg-color: var(--white);
  --layout-stars-icon-color: var(--accent);
  --layout-notice-bg-color: var(--white);
  --layout-notice-border-color: #EEF0ED1A;
  --layout-notice-text-color: var(--black);
  --layout-notice-text-link-color: var(--accent);
  --layout-history-item-border-color: var(--black-50);
  --layout-history-date-color: var(--black-50);
  --layout-history-title-color: var(--accent);
  --layout-history-body-color: var(--black);
  --layout-null-text-color: var(--black);
  --layout-null-link-color: var(--accent);
  --layout-first-btn-bg-color: var(--white);
  --layout-first-btn-text-color: var(--black);
  --layout-first-btn-i-bg-color: var(--white);
  --layout-first-btn-i-color: var(--accent);
  --layout-first-btn-text-span-color: var(--accent);
  --layout-platform-block-text-color: var(--black);
  --layout-platform-block-text-accent-color: var(--accent);
  --layout-platform-block-text-a-color: var(--black);

  // stories
  --stories-overlay-bg-color: #1A1A1A;
  --stories-progress-item-bg-color: #ffffff80;
  --stories-progress-fill-bg-color: var(--white);
  --stories-share-color: var(--white);
  --stories-share-hover-color: rgba(255, 255, 255, 0.15);
  --stories-close-color: var(--white);
  --stories-close-hover-color: rgba(255, 255, 255, 0.15);
  --stories-date-bg-color: rgba(0, 0, 0, 0.45);
  --stories-date-color: var(--white);
  --stories-btn-bg-color: var(--accent);

  // afisha
  --afisha-item-border-color: var(--accent);
  --afisha-i-bg-color: var(--accent);
  --afisha-i-color: var(--white);
  --afisha-hover-i-bg-color: var(--white);
  --afisha-hover-i-color: var(--accent);

  // banners
  --banners-link-title-color: #363A33;
  --banners-link-title-span-color: var(--accent);

  @include domd {
    --container-padding: 40rem;
    --container-width: 112rem;
    --header-height: 11rem;
    --wrapper-padding: 13rem;
  }
}

[dark] {
  // base
  --base-bg: #1A1A1A;
  --base-list-dot-color: #888A87;

  --tags-color: var(--black);

  // colors
  --popup-bg: #FFFFFF;
  --accent: #F64545;
  --accent-50: #F6454580;
  --white: #292929;
  --white-50: rgba(0, 2, 17, 0.5);
  --black: #FFFFFF;
  --black-50: #FFFFFF80;
  --black-2: #EEF0ED;
  --red: #D93128;
  --blue: #151754;
  --gray: #888A87;

  --popup-bg-color: rgba(26, 26, 26, 0.95);

  // panel
  --panel-inner-bg-color: #FFFFFF;
  --panel-inner-color: #000211;
  --panel-btn-count-bg-color: #313330;
  --panel-btn-count-color: #FFFFFF;

  --layout-head-tag: var(--black);
  --layout-head-psevdoelement: rgb(26, 26, 26);
  --layout-nav-item-color: var(--black);
  --layout-block-desc-color: var(--gray);
  --layout-block-list-color: var(--gray);
  --layout-foot-inner-bg-color: rgb(35, 35, 35);
  // --layout-nav-item-bg-color: #FFFFFF;
  // --menu-item-title-bg-color: #292929;
  // --menu-item-icon-bg-color: #292929;

  // nav
  --nav-item-active-icon-color: #FFFFFF;

  // form
  --form-label-span-color: #ffffff;
  --form-input-border-color: #2F2F2E;
  --form-input-active-border-color: var(--accent);
  --form-radio-input-border-color: var(--gray);
  --form-radio-remove-color: var(--gray);
  --filter-check-bg-color: #353332;
  --form-checkbox-border-color: var(--gray);
  --form-text-color: #EEF0ED80;

  // dropdown
  --dropdown-content-bg-color: var(--white);
  --dropdown-content-border-color: var(--white);
  --dropdown-content-label-color: var(--black);
  --dropdown-selected-active-border-color: var(--accent);

  // card
  --card-border-color: #313330;
  --card-bg-color: var(--base-bg);

  // branch
  --branch-layout-block-text-span-color: var(--gray);
  --branchselect-layout-block-btn-bg-color: #232323;

  // afisha
  --afisha-i-color: var(--black);


  // swiper
  --swiper-pagination-active-color: var(--black);
}


[red] {
  --accent: #F64545;
  --accent-50: #F6454580;

  --form-input-active-border-color: var(--accent);
  --dropdown-selected-active-border-color: var(--accent);
}

[orange] {
  --accent: #E95322;
  --accent-50: #E9532280;

  --form-input-active-border-color: var(--accent);
  --dropdown-selected-active-border-color: var(--accent);
}

[green] {
  --accent: #54A312;
  --accent-50: #54A31280;

  --form-input-active-border-color: var(--accent);
  --dropdown-selected-active-border-color: var(--accent);
}